$header-height: 60px;
$background-color: grey;
$action-primary-color: orange;

:host {
    display: block;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    height: $header-height;
    background-color: green;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    gap: 10px;
    padding: 0 10px;
}

.back-btn {
    flex-shrink: 0;
}

.document-name {
    font-size: 28px;
    color: white;
    margin-right: 20px;
}

app-annotation-toolbar {
    flex: 1;
    display: flex;
    justify-content: center;
}

app-zoom {
    flex-shrink: 0;
}

.save-btn {
    color: $action-primary-color;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    align-items: center;
    gap: 15px;
}

.file-uploader {
    display: none;
}