<div [id]="page.pageNumber" class="page">
    <img class='page-background' [src]="page.imageUrl" (click)="onPageClick($event)">
    @for (annotation of page.annotations; track annotation.id) {
    <div [id]="annotation.id"
        class="annotation"
        [style.top.px]="annotation.y"
        [style.left.px]="annotation.x"
        cdkDrag
        (mouseup)="onAnnotationMouseUp($event, annotation.id)">
        <span *ngIf="annotation.type === annotationType.Text" class="text-annotation">{{ annotation.data }}</span>
        <img *ngIf="annotation.type === annotationType.Image" [src]="annotation.data" class="img-annotation">
        <mat-icon class="annotation-delete-btn" (click)="onDeleteAnnotation(annotation.id)">cancel</mat-icon>
    </div>
    }
</div>
